<nb-card style="width: 80vw">
  <nb-card-header>
    {{candidate?.fullname}} Additional Info
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-4">
        <button nbButton status="success" hero (click)="openRefDialogue()">
          Reference Check
        </button>
      </div>
      <div class="col-4">
        <button nbButton status="success" hero (click)="openRefDialogueJob()">
          Job Application
        </button>
      </div>
      <div class="col-4">
        <button nbButton status="success" hero (click)="openRefDialoguePre()">
          Pre Interview Form
        </button>
      </div>

    </div>

  </nb-card-body>
</nb-card>
