<nb-card style="width: 80vw">
  <nb-card-header>
    <div class="row">
      <div class="col-md-10"> {{candidate.fullname}} Reference Check</div>
      <div class="col-md-2">
        <nb-actions size="medium" class="text-left">
          <nb-action></nb-action>
          <nb-action (click)="openAddTutorDialogue()" icon="plus-square-outline" nbTooltip="Add Interview"
                     nbTooltipPlacement="bottom"></nb-action>
          <nb-action></nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>

  </nb-card-body>
</nb-card>
