<nb-card [nbSpinner]="false" nbSpinnerStatus="danger">
  <nb-card-header>
    <div class="row">
      <div class="col-md-10">
        Users
      </div>

      <nb-actions size="medium" class="text-left">
        <nb-action></nb-action>
        <nb-action (click)="openAddTutorDialogue()" icon="plus-square-outline" nbTooltip="Add Branch/Shop"
                   nbTooltipPlacement="bottom"></nb-action>
        <nb-action></nb-action>
      </nb-actions>
    </div>
  </nb-card-header>

  <nb-card-body>
    <nb-alert class="text-center" *ngIf="isDetailedSelected=='0'" status="disabled"
              accent="success">
      <h2>You have {{users.length}} records returned </h2>
    </nb-alert>

    <ng2-smart-table *ngIf="isDetailedSelected=='1'" (userRowSelect)="onUserRowSelect($event)"
                     [settings]="settings"
                     [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
