<fieldset [nbSpinner]="isSubmitting" nbSpinnerStatus="danger" *ngIf="!credentialSubmittedSuccess;
else tokenVerification">
  <form [formGroup]="signInForm">
    <div style="font-weight: bold; font-size: xx-large; margin-bottom: 2rem;">Password Reset</div>
    <div class="form-group">
      <input class="form-control" formControlName="username" id="username" placeholder="Enter your email address"
             type="text">
    </div>
    <button (click)="onSubmit()" class="btn btn-primary btn-block" type="submit">Next</button>
  </form>
</fieldset>
<ng-template #tokenVerification>
  <fieldset [nbSpinner]="isSubmitting" nbSpinnerStatus="danger">
    <form [formGroup]="verificationForm">
      <div style="font-weight: bold; font-size: xx-large; margin-bottom: 2rem;">Enter your Credentials</div>
      <div class="form-group">
        <input class="form-control" formControlName="token" id="token"
               placeholder="Enter verification token sent via email"
               type="text">
      </div>
      <button (click)="onSubmitToken()" class="btn btn-primary btn-block" type="submit">Next</button>
    </form>
  </fieldset>
</ng-template>

